<div [ngClass]="{'has-border':!isBorder,'no-border':isBorder}" class="filters_content">
    <div class="filters_container">
        <p class="header">{{getTranslateWord('_price')}} </p>

        <div class="inputs-container" display-flex justify-content-space-beetwen>
            <label>
                <span capitalize>{{getTranslateWord('_from')}}</span>
                <input type="number" (ngModelChange)="changeMinValue($event)" [(ngModel)]="min">
            </label>
            <label>
                <span capitalize>{{getTranslateWord('_to')}}</span>
                <input type="number" (ngModelChange)="changeMaxValue($event)" [(ngModel)]="max">
            </label>
        </div>
        <form [formGroup]="filterForm">
            <div *ngIf="isBrowser" class="custom-slider">
                <ng5-slider formControlName="price" (ngModelChange)="changeSlider($event)" [options]="options">
                </ng5-slider>
            </div>
            <div class="dropdown">
                <div class="dropdown_item">
                    <p-multiSelect [showHeader]="false" [options]="cities" formControlName="city" [optionLabel]="getAttributeName('name')"
                        [selectedItemsLabel]="translateWords('Selected {0} options','Выбраны {0} варианта','Ընտրված են {0} տարբերակներ')" 
                        [defaultLabel]="translateWords('Country','Страна','Երկիր')"></p-multiSelect>
                    <!-- <p-dropdown [options]="cities" formControlName="city" optionLabel="name" placeholder="Страна">
                    </p-dropdown> -->
                </div>
                <!-- <div class="dropdown_item" *ngFor="let item of attributes">
                        <p-dropdown [options]="item.attributValue" [formControlName]="'att'+item.name" [placeholder]="item.name" optionLabel="value"></p-dropdown>
                    </div> -->
                <div *ngIf="brands && brands.length>0" class="dropdown_item">
                    <p-multiSelect [emptyFilterMessage]="translateWords('No Results Found','Результаты не найдены','Ոչ մի արդյունք չի գտնվել')" [options]="brands"
                        formControlName="brand" [optionLabel]="getAttributeName('name')"
                        [selectedItemsLabel]="translateWords('Selected {0} options','Выбраны {0} варианта','Ընտրված են {0} տարբերակներ')"
                        [defaultLabel]="translateWords('Brand','Бренд','Ապրանքանիշ')"></p-multiSelect>
                    <!-- <p-dropdown [options]="brands" formControlName="brand" placeholder="Производитель"
                        optionLabel="name"></p-dropdown> -->
                </div>
                <div class="dropdown_item">
                    <p-multiSelect [showHeader]="false" [options]="reduction" formControlName="sale"
                        optionLabel="reduction" [selectedItemsLabel]="translateWords('Selected {0} options','Выбраны {0} варианта','Ընտրված են {0} տարբերակներ')"
                         [defaultLabel]="translateWords('Discounts','Скидки','Զեղչեր')">
                    </p-multiSelect>
                </div>
            </div>
            <div class="buttons">
                <button class="show_variants" (click)="onClickFilter()">
                    <span>{{getTranslateWord('_show_options')}}</span>
                </button>
                <button class="clear_filters" (click)="onClickClearFilters()">
                    <span> {{getTranslateWord('_reset_filters')}}</span>
                </button>
            </div>
        </form>
    </div>
</div>