<div *ngIf="isGet">
    <div *ngIf="paymentHistory[0]" style="overflow-x:auto">
        <table>
            <tr class="table-header">
                <th>{{'_order_number' | language_translate:language}} №</th>
                <th>{{'_date' | language_translate:language}}</th>
                <th>{{'_sum' | language_translate:language}}</th>
                <th>{{'_payment_by_money' | language_translate:language}}</th>
                <th>{{'_payment_by_bonuses' |language_translate:language}}</th>
                <th>{{'payment_method' | language_translate:language}}</th>
                <th>{{'_status' | language_translate:language}}</th>
            </tr>
            <tr *ngFor="let history of paymentHistory">
                <td>{{history?.orderId}}</td>
                <td>{{history?.date | date: 'dd.MM.yyyy'}}</td>
                <td>{{history?.total}}</td>
                <td>{{history?.priceWithoutSale}}</td>
                <td>{{history?.bonus}}</td>
                <td>{{history?.cashTitle}}</td>
                <td>{{history?.statusName}}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="!paymentHistory[0]" class="default-text"> {{'_empty' | language_translate:language}} </div>
</div>