<div *ngIf="isGet">
    <div *ngIf="paymentHistory && paymentHistory.length" style="overflow-x:auto">
        <table>
            <tr class="table-header">
                <th>{{translateWord('_order_number')}} №</th>
                <th>{{translateWord('_date')}}</th>
                <th>{{translateWord('_sum')}}</th>
                <th>{{translateWord('_payment_by_money')}}</th>
                <th>{{translateWord('_payment_by_bonuses')}}</th>
                <th>{{translateWord('payment_method')}}</th>
                <th>{{translateWord('_status')}}</th>
            </tr>
            <tr *ngFor="let history of paymentHistory">
                <td>{{history?.orderId}}</td>
                <td>{{history?.date | date: 'dd.MM.yyyy'}}</td>
                <td>{{history?.total}}</td>
                <td>{{history?.priceWithoutSale}}</td>
                <td>{{history?.bonus}}</td>
                <td>{{history?.cashTitle}}</td>
                <td>{{history?.statusName}}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="!paymentHistory || (paymentHistory && !paymentHistory.length)" class="default-text">{{translateWord('_empty')}}</div>
</div>