<div class="basket_list_content">
    <div class="basket_list_container">
        <table>
            <thead>
                <tr>
                    <th><span class="label">{{'_title' | language_translate:language}}</span></th>
                    <th><span class="label">{{'_price' | language_translate:language}}</span></th>
                    <th><span class="label">{{'_count' | language_translate:language}}</span></th>
                    <th><span class="label">{{'_cost' | language_translate:language}}</span></th>
                    <th></th>
                </tr>
            </thead>
            <ng-content></ng-content>
        </table>
    </div>
</div>