<div class="desc">
    <p class="label">
        {{'_characteristics' | language_translate}}
    </p>
    <div class="description">
        <div>
            <span class="description_item bold">{{'brand' | language_translate}}: <span >{{characteristicData.brandName}}</span></span>
            <span class="description_item bold"> {{'_brand_country' | language_translate}}: <span
              >{{characteristicData.brandCountryName}}</span></span>
            <span class="description_item bold"> {{'_manufacture_country' | language_translate}}: <span
                    >{{characteristicData.cityName}}</span></span>
            
            <span class="description_item bold" *ngIf="characteristicData.composition"> {{'_composition' | language_translate}}: <span
                    >{{characteristicData[getAttributeName('composition')]}}</span></span>
            <span class="description_item bold" *ngIf="characteristicData.weight"> {{'_weight' | language_translate}}: <span
                    >{{characteristicData?.weight}}</span></span>
            <span class="description_item" *ngFor="let item of characteristicData.attributeSet"><span
                    *ngIf="item.AttributeProductValue.length>0" class="bold">{{item.name}}:</span>
                <span >{{item.AttributeProductValue[0]?.value}}</span> </span>
        </div>
        <img class="brand_image" [src]="fileUrl+'brand/'+characteristicData?.brandImage">
    </div>
</div>