<div class="change_password_modal_cotent">
    <div class="change_password_modal_container">
        <p *ngIf="isCompleted" text-align-center>{{'_change_password_message' | language_translate:language}} </p>
        <p error *ngIf="error">{{error}}</p>
        <form [formGroup]="changePasswordForm">
            <div class="form_group">
                <label>{{'_old_password' | language_translate:language}}:*</label>
                <input type="text" formControlName="oldPassword">
                <span required-field
                    *ngIf="changePasswordForm.get('oldPassword').hasError('required') && changePasswordForm.get('oldPassword').touched">{{'error1' | language_translate:language}} *</span>
            </div>
            <div class="form_group">
                <label>{{'_new_password' | language_translate:language}}:*</label>
                <input type="password" formControlName="password">
                <span required-field
                    *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched">{{'error1' | language_translate:language}} *</span>
            </div>
            <div class="form_group">
                <label>{{'_confirm_password' | language_translate:language}}:*</label>
                <input type="password" formControlName="confirmPassword">
                <span required-field
                    *ngIf="changePasswordForm.get('confirmPassword').hasError('MatchPassword') && changePasswordForm.get('confirmPassword').touched">{{'_password_error' | language_translate:language}} *</span>
                <span required-field
                    *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched">{{'error1' | language_translate:language}} *</span>
            </div>
            <!-- <button class="reset" (click)="onClickChange()"
                [ngClass]="{'disabled':changePasswordForm.invalid || loading}"
                [disabled]="changePasswordForm.invalid || loading">
                <span class="label">Изменить</span>
            </button> -->
            <div class="main-right-bottom">
                    <button  (click)="onClickChange()"
                    [ngClass]="{'disabled':changePasswordForm.invalid || loading}"
                    [disabled]="changePasswordForm.invalid || loading"><span>{{'_confirm' | language_translate:language}}</span></button>
                    <div class="button-right"><span><span class="star">*</span> {{'error3' | language_translate:language}}</span>
                    </div>
                </div>
        </form>
    </div>
</div>