@import 'src/app/com/annaniks/styles/variables.scss';

.catalog_content{
    // background-color: #502a12;
    background-color: $main-color;
    .catalog_container{
        position: relative;
        .header{
            display: none;
        }
        .content{
                display: flex;
                justify-content: space-between;
        }
        .item{
            padding:13px;
            cursor: pointer;
            transition: all 0.5s;
            
            // &::after{
            //     content:'\200B'
            // }
            &:hover > .item___overlay{
                visibility: visible;
                opacity: 1;
            }
            .item___overlay{
                visibility: hidden;
                opacity: 0;
                transition: opacity 0s,visibility 0s ;
                transition-delay: 200ms;
                display: flex;
                position: absolute;
                z-index: 11111111111;
                max-width: 1172px;
                top: 41px;
                width: 100%;
                left: 0;
                box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.4), 0 5px 5px 0px rgba(0, 0, 0, 0.4), -5px 0 5px -5px rgba(0, 0, 0, 0.4);
                // box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.4);
                // box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
                // border-radius: 4px;
                border-radius: 0;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -khtml-border-radius: 0px;
                -webkit-appearance: none;
                background-color: white;
                .container{
                    width: 25%;
                }
                .sub_label{
                    display: flex;
                    padding: 0.5em;
                    align-items: center;
                    &:hover{
                        span{
                        text-decoration: underline;
                        }
                    }
                    i{
                        margin-right: 10px;
                    }
                    span{
                        color: black;
                        font-size: 13px;
                        white-space: nowrap;
                        text-transform: uppercase;
                    }
                }
                .sub_header{
                    font-size: 14px;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: bold;
                    margin-left: 19px;
                    text-decoration: underline;
                    
                }
            }
            .label{
                font-size: 13px;
                color:$text-color;
                text-transform: uppercase;
                font-weight: 300;
            }
            &:hover{
                background-color: white;
                .label{
                    color:#505768;
                }
            }
            &:nth-child(5){
                .item___overlay{
                   left:auto !important;
                   right: 0 !important
                }
            }
            &:nth-child(6){
                .item___overlay{
                   left:auto !important;
                   right: 0 !important
                }
            }
        }
 
    }
}
@media only screen and(max-width:1130px){
    .item___overlay{
        top: 55px !important;
    }
}
@media only screen and (max-width: 1000px) {
    // .content{
    //     flex-direction: column;
    // }
    // .header{
    //     display: flex !important;
    // }
    .catalog_container{
        display: none;
    }
}

.scroll {
    margin-top: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000 !important;
    width: 100%;
    transition: all 0.1s;
}
*[margin-left-20]{
    margin-left: 20px !important
}
.active_item{
    // background-color: #43220d;
    background-color: white;
    .label{
        // color: #c59951 !important;
        color:black !important;
    }
    
}