app-goods-list-item{
    width: 25% !important;
    padding:0.5em;
}
app-slider{   
    width: 100%;
}

.brand_name{
    font-weight: bold;
    font-size: 1.5em;
}
:host ::ng-deep{
    .slider{
        width: 75%;
        margin: 0 auto;
    }
    .box_container{
        margin-top: 135px !important;
    }
    .slick-slider .slick-track, .slick-slider .slick-list{
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    .slider{
        min-height: inherit !important;
    }
 
}
@media only screen and (max-width: 900px){
    :host ::ng-deep{
        .slider{
            app-slider{
                .slide{
                    height: 255px !important;
                }
               
            }
        }
    }
}
@media only screen and(max-width:920px){
    .brand_details_content{
        border-top: 1px solid #d2d2d2;
    }
}

@media only screen and (max-width: 1162px) and (min-width:695px) {
    app-goods-list-item{
        width: 33.3333% !important;
    }
}
@media only screen and (max-width:550px){
    .info_content{
        .title{
            height: 209px !important;
        }
    }
    :host ::ng-deep .box_container{
            margin-top: 20px !important;
    }    
    
    :host ::ng-deep{
        .slider{
            .slick-prev{
                left: 0 !important;
            }
        }
    } 
}
@media only screen and (max-width:660px){
    :host ::ng-deep{
        .slider{
            app-slider{
                .slide{
                    height: 225px !important;
                }
            }
        }
    }

}

@media only screen and (max-width:445px){
    :host ::ng-deep{
        .slider{
            app-slider{
                .slide{
                    height: 140px !important;
                }
                .slick-prev, .slick-next{
                    height: 30px;
                    width: 30px;
                }
                .carousel_item {
                    padding:0 !important;
                    .image{
                        background-size: 100% 100% !important;
                    }
                }
                .icon{
                        color:white;
                        background-color: #502a12;
                        transition: all 0.5s;
                }
 
            }
        }
    }
  
}

@media only screen and (max-width:445px) and (min-width:726px){
    :host ::ng-deep{
        .slider{
            app-slider{
                .slide{
                    height: 300px !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 695px) and (min-width:470px) {
    app-goods-list-item{
        width: 50% !important;
    }
}

@media only screen and (max-width: 470px){
    app-goods-list-item{
        width: 50% !important;
    }
}
.brand_details_content{
    margin-top: 24px;
}
.info_content{
    width: 100%;
    margin:20px auto;
    min-height: 200px;
    .img{
        max-width: 200px;
        max-height: 200px;
        min-width: 200px;
        // padding:0.5em;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        // border:1px solid black;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .title{
        display: block;
        // line-height: 16px;
        height: 79px;
        overflow: hidden;
        box-shadow: 0px -35px 26px #fff inset;
      
    }
    .show {
        overflow: visible !important;
        height: auto !important;
        p{
            color:red;
        }
    }    
    .show_bttn{
        margin-top: 10px;
        color:black;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }  
}

:host ::ng-deep{
    .title{
        p:first-child{
            margin:0;
        }
    }
}


