<header class="topbar_content">
    <div class="topbar_container" container>
        <div class="menu_button" (click)="onClickMenuButton()">
            <i class="material-icons menu_icon">
                {{(openMenu) ? 'close' : 'menu'}}
            </i>
        </div>
        <div class="logo" routerLink="" cursor-pointer>
            <div style="width:156px; height:156px"></div>
            <!-- <img src="/assets/images/logo.jpg" width="156px" height="156px" /> -->
        </div>

        <div class="toolbar">
            <div class="languages" display-flex>
                <div cursor-pointer [class.active_language]="activeLanguage == 'ru'" (click)="changeLanguage('ru')">
                    Русский/</div>
                <div cursor-pointer [class.active_language]="activeLanguage == 'en'" (click)="changeLanguage('en')">
                    English/</div>
                <div cursor-pointer [class.active_language]="activeLanguage == 'arm'" (click)="changeLanguage('arm')">
                    Հայերեն</div>
            </div>
            <div class="menu_items">
                <nav class="items">
                    <div *ngFor="let item of menuItems">
                        <a class="label" [routerLink]="item.routerLink">{{item[getAttributeName('label')]}}</a>
                    </div>
                    <!-- <span class="label" [routerLink]="'/news'">Новости</span>
                    <span class="label" [routerLink]="'/discounts'">Скидки</span> -->
                </nav>

                <div class="location">
                    <span class="label">{{'_yourContry'| language_translate}}</span>
                    <img src="/assets/images/location.png" />
                    <span class="city_name" (click)="onClickCity()">{{city}}</span>
                </div>
                <div class="personal_area" cursor-pointer>
                    <img src="/assets/images/key.png" />
                    <span class="label" *ngIf="isAuthorized" (click)="onClickPersonalArea()">{{userEmail}}</span>
                    <span class="label " *ngIf="!isAuthorized"><span class="hover_underline"
                            (click)="onClickLogin()">{{'_login' | language_translate}}</span><span
                            style="margin:0 6px">/</span><span (click)="onClickRegister()"
                            class="hover_underline">{{'_registration' | language_translate}}</span></span>
                </div>
            </div>
            <div class="search_bar">
                <div class="search_content">
                    <div class="search_input">
                        <form (ngSubmit)="onClickSearch()" display-flex full-width>
                            <input type="text" [(ngModel)]="search" (ngModelChange)="onChange($event)"
                                [placeholder]="getTranslateWord('Enter request','Введите запрос','Մուտքագրեք հարցումը')"
                                [ngModelOptions]="{standalone: true}">
                            <button bg-transparent border-none type="submit">
                                <img src="/assets/images/search.png" alt="" (click)="onClickSearch()" cursor-pointer>
                            </button>
                            <div class="autocomplete" *ngIf="similarProducts.length>0"
                                (clickOutside)="onClickedOutside($event)">
                                <div class="complete_items" *ngFor="let item of similarProducts"
                                    (click)="onClickSimilarProducts(item.productName)">
                                    <img [src]="fileUrl+'products/'+item.productImage">
                                    <div height-fit>
                                        <p class="label"><b>{{'_name' | language_translate}}: </b>
                                            {{item.productName | splice_search:25}}</p>
                                        <p class="label"><b>{{'_article' | language_translate}}:
                                            </b>{{item.productArticul}}</p>
                                    </div>
                                </div>
                                <div justify-content-center class="complete_items all_item"
                                    (click)="onClickSearch(true)">
                                    <b> {{'_show_all' | language_translate}} ({{productsCount}})</b>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div align-items-center display-flex class="work_info">
                        <div margin-right-10>
                            <div class="bottom">
                                <img src="/assets/images/clock.png" />
                                <span class="label">{{workingTime}}</span>
                            </div>
                            <div class="bottom" margin-top-8 display-flex align-items-center>
                                <img class="phone_icon" src="/assets/images/Векторный смарт-объект.png" />
                                <p class="label" no-margin text-align-center cursor-pointer (click)="onClickButton()">
                                    {{'_call_back' | language_translate}}</p>
                            </div>
                        </div>
                        <div>
                            <div margin-bottom-8 class="top">
                                <img src="/assets/images/phone.png" />
                                <a href="tel:{{phone}}" class="label phone">{{phone}}</a>
                            </div>
                            <div class="top">
                                <img src="/assets/images/phone.png" />
                                <a href="tel:{{phone_2}}" class="label phone">{{phone_2}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="basket">
                        <div display-flex class="icon">
                            <div display-flex align-items-center>
                                <img src="/assets/images/cart.png" />
                                <span *ngIf="basketCount && basketCount>0" class="basket_count">{{basketCount}}</span>
                            </div>
                        </div>
                        <div class="information margin-left-5 hover_underline" routerLink="/basket" cursor-pointer>
                            <span class="label">{{'_busket' | language_translate}}</span>
                            <span class="count">{{'_for_the_sum' |language_translate}}
                                {{basketInfo?.basketPrice}}֏</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sm_display_topbar" container>
        <div class="sm_topbar_container">
            <div class="left" display-flex align-items-center>
                <div class="icon_small" (click)="onClickMenuButton()">
                    <i class="material-icons icon"> {{(openMenu) ? 'close' : 'menu'}}</i>
                </div>
                <div class="icon_small sm_search search_content">
                    <div class="search_input sm_search_input">
                        <form (ngSubmit)="onClickSearch()" display-flex align-items-center>
                            <input id="search" type="search" [(ngModel)]="search" (ngModelChange)="onChange($event)"
                                (keydown)="onKeyPress($event)"
                                [placeholder]="getTranslateWord('Enter request','Введите запрос','Մուտքագրեք հարցումը')"
                                [ngModelOptions]="{standalone: true}" />
                            <label for="search" (click)="onClickSearch()">
                                <i class="material-icons search_icon">search</i>
                            </label>
                            <div class="autocomplete sm_autocomplete" [ngStyle]="setScroll()"
                                *ngIf="similarProducts.length>0" (clickOutside)="onClickedOutside($event)">
                                <div class="complete_items" *ngFor="let item of similarProducts"
                                    (click)="onClickSimilarProducts(item.productName)">
                                    <img [src]="fileUrl+'products/'+item.productImage">
                                    <div height-fit>
                                        <p class="label"><b>{{'_name' | language_translate}}: </b>
                                            {{item.productName | splice_text:80:30}}</p>
                                        <p class="label"><b>{{'_article' | language_translate}}:
                                            </b>{{item.productArticul }}</p>
                                    </div>
                                </div>
                                <div justify-content-center class="complete_items all_item"
                                    (click)="onClickSearch(true)">
                                    <b> {{'_show_all' | language_translate}} ({{productsCount}})</b>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="right" display-flex align-items-center>
                <div margin-right-10>
                    <p-dropdown [options]="languages" >
                        <ng-template let-item pTemplate="selectedItem">
                            <img [src]="activeLng?.image"
                                style="width:16px;vertical-align:middle" />
                        </ng-template>
                        <ng-template   let-lng pTemplate="languages">
                            <div (click)="changeLanguage(lng.label)" class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <img [src]="lng?.image"
                                    style="width:24px;position:absolute;top:1px;left:5px" />
                            </div>
                        </ng-template>
                    </p-dropdown>

                </div>
                <div display-flex align-center margin-right-10 class="icon_small">
                    <div cursor-pointer (click)="onClickPersonalArea()">
                        <img height="35" width="35" src="/assets/images/outline_account_circle_white.png" alt="">
                    </div>
                </div>
                <div display-flex justify-content-flex-end class="icon_small">
                    <div display-flex routerLink="/basket" (click)="closeMenu()">
                        <img height="35" width="35" src="/assets/images/outline_shopping_cart_white.png" alt="">
                        <span *ngIf="basketCount && basketCount>0" class="basket_count_small">{{basketCount}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div padding-5 width-fit margin-horizontal-auto class="logo">
            <div display-flex align-items-center justify-content-center>
                <div class="work_info">
                    <div margin-bottom-5 display-flex align-items-center class="top">
                        <img src="/assets/images/phone.png" />
                        <a href="tel:{{phone}}" class="label">{{phone}}</a>
                    </div>
                    <div margin-bottom-5 display-flex align-items-center class="top">
                        <img src="/assets/images/phone.png" />
                        <a href="tel:{{phone_2}}" class="label">{{phone_2}}</a>
                    </div>

                </div>
                <div routerLink="">
                    <div class="sm_logo" margin-side-auto no-margin cursor-pointer
                        style="width:120px;height: 120px;border:1px solid; border-radius: 50%;"></div>
                    <!-- <img no-margin cursor-pointer src="/assets/images/logo.jpg" class="sm_logo" width="120px" height="120px"
                    margin-side-auto /> -->
                </div>
                <div class="info">
                    <div margin-bottom-5 display-flex align-items-center class="location">
                        <img src="/assets/images/location.png" />
                        <span cursor-pointer class="city_name" (click)="onClickCity()">{{city}}</span>
                    </div>
                    <div display-flex align-items-center class="location">
                        <img class="img-icon" src="/assets/images/Векторный смарт-объект.png" />
                        <span cursor-pointer class="city_name"
                            (click)="onClickButton()">{{'_call_back' | language_translate}}</span>
                    </div>
                </div>
            </div>
            <div display-flex align-items-center justify-content-center class="bottom">
                <span class="woks_time">{{workingTime}}</span>
            </div>
        </div>

    </div>
    <!-- <div class="sm_d_input" container>
        <div class="search_input">
            <form full-width display-flex (ngSubmit)="onClickSearch()">
                <input type="text" [(ngModel)]="search" (keydown)="onKeyPress($event)" placeholder="Введите запрос"
                    [ngModelOptions]="{standalone: true}">
                <button bg-transparent border-none>
                    <img src="/assets/images/search.png" alt="" (click)="onClickSearch()" cursor-pointer>
                </button>
            </form>
        </div>
    </div>
    <div class="sm_d_content" container>
        <div class="menu_button_sm" (click)="onClickMenuButton()">
            <i class="material-icons">
                {{(openMenu) ? 'close' : 'menu'}}
            </i>
        </div>
        <div class="work_info">
            <div class="top">
                <img src="/assets/images/phone.png" />
                <a href="tel:{{phone}}" class="label">{{phone}}</a>
            </div><a href="tel:{{phone}}" class="label">{{phone}}</a>
            </div>
            <div class="bottom">
                <img src="/assets/images/clock.png" />
                <span class="label">{{workingTime}}</span>
            </div>
            <p no-margin font-size-13 text-align-center cursor-pointer (click)="onClickButton()">Заказать
                обратный звонок</p>
        </div>
        <div class="basket" routerLink="/basket" cursor-pointer>
            <div class="icon">
                <img src="/assets/images/cart.png" />
            </div>
        </div>
        <div class="search_input">
            <form (ngSubmit)="onClickSearch()" full-width display-flex>
                <input type="text" [(ngModel)]="search" placeholder="Введите запрос"
                    [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)">
                <button bg-transparent border-none type="submit">
                    <img src="/assets/images/search.png" alt="" (click)="onClickSearch()" cursor-pointer>
                </button>
                <div class="autocomplete" *ngIf="similarProducts.length>0"
                    (clickOutside)="onClickedOutside($event)">
                    <div class="complete_items" *ngFor="let item of similarProducts"
                        (click)="onClickSimilarProducts(item.productName)">
                        <img [src]="fileUrl+'products/'+item.productImage">
                        <div height-fit>
                            <p class="label"><b>Имя: </b> {{item.productName}}</p>
                            <p class="label"><b>Артикул: </b>{{item.productArticul}}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
</header>