<div class="description_tab_content">
    <div class="description_tab_container">
        <div class="desc">
            <div class="article_body" [innerHTML]="descriptionData.fullDescription" none-select>
                <!-- {{descriptionData.description}} -->
            </div>
        </div>
        <!-- <div class="article_body">
            Масло для ухода за бородой с ароматом, который выбрали потребители. Сочный цитрус - это коктейль из
            четырех эфирных масел цитрусовых растений: лайм, лимон, апельсин, грейпфрут.В состав входят всего 4
            базовых масла, но зато каких:
        </div> -->

        <!-- <div class="video_content">
            <p class="label">
                Видео о товаре
            </p>
            <div class="video">
                <iframe width="342" height="226" class="vid" src="https://www.youtube.com/embed/NY3mVLW0FZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div> -->

    </div>
</div>