<div class="slide_nav" [ngClass]="{'open':menuOpen,'close':!menuOpen}" *ngIf="visiblity">
    <div class="slide_nav_container">
        <!-- <div class="personal_area" cursor-pointer>
            <img src="/assets/images/key.png" />
            <span class="label" *ngIf="isAuthorized" (click)="onClickPersonalArea()">{{userEmail}}</span>
            <span class="label " *ngIf="!isAuthorized"><span class="hover_underline"
                    (click)="onClickLogin()">Вход</span><span style="margin:0 6px">/</span><span
                    (click)="onClickRegister()" class="hover_underline">Регистрация</span></span>
        </div> -->
        <div class="tabs">
            <div class="tab_item" [ngClass]="{'active_tab':activeTab=='catalog'}"(click)="onClickTabItem('catalog')">
                <p>{{'_catalog' | language_translate}}</p>
            </div>
            <div class="tab_item" [ngClass]="{'active_tab':activeTab=='information'}" (click)="onClickTabItem('information')">
                <p>{{'_info' | language_translate}}</p>
            </div>
        </div>
        <div [ngSwitch]="activeTab">
            <app-categories [isMain]="true" [categories]="slideNavItems" [isParent]="true" [isSlideNav]="true"
                [isCloseMenu]="true" *ngSwitchCase="'catalog'"></app-categories>
            <div class="topbar_items">
                <div class="item" *ngSwitchCase="'catalog'" (click)="onClickSettings({routerLink:'/brands'})">
                    {{'brands' | language_translate}}
                </div>
                <div  *ngSwitchCase="'information'">
                    <div class="item" *ngFor="let item of menuItems" (click)="onClickSettings(item)">
                        {{item.label}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>