<div *ngIf="isGet">
    <div class="bonus-table">
        <table *ngIf="bonusPoint && bonusPoint[0]">
            <tr class="table-header">
                <th uppercase>{{'_order_number' | translate}} №</th>
                <th uppercase>{{'_date' | translate}}</th>
                <th uppercase>{{'_sum' | translate}}</th>
                <th uppercase>{{'_bonuses' | translate}}</th>
                <th uppercase>{{'_rate_of_return' | translate}}</th>
                <th uppercase>{{'_status' | translate}}</th>
            </tr>
            <tr *ngFor="let bonus of bonusPoint">
                <td>{{bonus?.orderId}}</td>
                <td>{{bonus?.created_at | date: 'dd.MM.yyyy'}}</td>
                <td>{{bonus?.total}}</td>
                <td>{{bonus?.bonus}}</td>
                <td>{{bonus?.percent}}%</td>
                <td uppercase>{{(bonus?.status) == '1'? translateWord('_enrolled') : translateWord('_refund')}}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="!bonusPoint || (bonusPoint && !bonusPoint[0])" class="default-text"> {{'_empty' | translate}} </div>
</div>