<div container>
    <div class="route_step">
        <app-route-step [routes]="routeSteps"></app-route-step>
    </div>
    <div content class="message" *ngIf="isPaymentChecked">
        <h1>{{message}}</h1>
    </div>
    <div content *ngIf="basketProducts && basketProducts.length>0 && isPaymentChecked" class="basket_container">

        <app-box [header]="getTranslateWord('Basket','Корзина','Զամբյուղ')" [marginTop]="'30px'">
            <div class="basket_items">
                <app-basket-list>
                    <tr basketListItem *ngFor="let item of basketProducts;let ind=index;" [basketItem]="item"
                        (deleteEvent)="handleDeleteEvent(ind)"></tr>
                </app-basket-list>
            </div>
            <div class="basket_info">
                <div>
                    <div class="discount">
                        <input type="text"
                            [placeholder]="getTranslateWord('Enter the discount promo code','Введите промокод скидки','Մուտքագրեք զեղչի պրոմոկոդը')"
                            [formControl]="promoCodeFormControl" />
                        <button class="get_discount"
                            [disabled]="promoCodeFormControl.invalid || promoCodeLoading || isPromocode"
                            [ngClass]="{'disabled':promoCodeFormControl.invalid || promoCodeLoading || isPromocode}"
                            (click)="onClickGetDiscount()">
                            {{'_get_sale' | language_translate:language}}</button>
                    </div>
                    <span display-block full-width
                        [ngStyle]="{'color':(isPromocode) ? 'green' : 'red','font-size':'13px'}">{{promoCodeMessage}}</span>
                    <span display-block required-field
                        *ngIf="promoCodeFormControl.hasError('required') && promoCodeFormControl.touched">{{'error1' | language_translate:language}}
                        *</span>
                </div>
                <div class="isPackContainer">
                    <div class="checkbox">
                        <label class="container">
                            <input type="checkbox" [(ngModel)]="isPack">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="center" (click)="onClickisPack()">
                        <div class="top">{{'_pack_text' | language_translate:language}}</div>
                        <div class="bottom">(+150 {{'_pack_sum' | language_translate:language}})</div>
                    </div>
                </div>
                <p>{{'_total' | language_translate:language}}: <span [ngClass]="{'discount_price':isPromocode}">{{totalPrice}}
                        ֏</span>
                    <span *ngIf="isPromocode"> - {{discountPrice}} ֏</span>
                </p>
            </div>
            <div class="make_order" *ngIf="orderStep!=2">
                <button (click)="onClickMakeOrder()">
                    <span>{{'_order' | language_translate:language}}</span>
                </button>
            </div>
        </app-box>
        <app-box [header]="getTranslateWord('To do order','Оформить заказ','Պատվիրել')" *ngIf="orderStep==2">
            <p error text-align-center *ngIf="error">{{makeOrderError}}</p>
            <div class="order_container">
                <form [formGroup]="orderForm">
                    <p class="label">{{'_contact_entity' | language_translate:language}}</p>
                    <div>
                        <div class="make_order_form" align-items-center display-flex>
                            <div class="left">
                                <div class="form_group">
                                    <div class="label_wrapper_left">
                                        <label>{{'_full_name' | language_translate:language}}</label>
                                        <p class="req_message">{{'_necessarily' | language_translate:language}}</p>
                                    </div>
                                    <div class="input_container">
                                        <input type="text" formControlName="name" />
                                        <span required-field
                                            *ngIf="orderForm.get('name').hasError('required') && orderForm.get('name').touched">{{'error1' | language_translate:language}}
                                            *</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="label_wrapper_left ">
                                        <label>{{'_phone' | language_translate:language}}</label>
                                        <p class="req_message">{{'_necessarily' | language_translate:language}}</p>
                                    </div>
                                    <div class="input_container">
                                        <input type="text" formControlName="phone" prefix="+374" mask="(00) 00 00 00" />
                                        <span required-field
                                            *ngIf="orderForm.get('phone').hasError('required') && orderForm.get('phone').touched">{{'error1' | language_translate:language}}
                                            *</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="label_wrapper_left">
                                        <label>{{'_email' | language_translate:language}}</label>
                                    </div>
                                    <div class="input_container">
                                        <input type="text" formControlName="email" />
                                        <span required-field
                                            *ngIf="orderForm.get('email').hasError('required') && orderForm.get('email').touched">{{'error1' | language_translate:language}}
                                            *</span>
                                        <span required-field
                                            *ngIf="orderForm.get('email').hasError('pattern') && orderForm.get('email').touched">{{'error2' | language_translate:language}}
                                            *</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right">

                                <div *ngIf="isAuthorized" class="form_group">
                                    <div class="label_wrapper_right">
                                        <label>{{'_main_addresses' | language_translate:language}}</label>
                                    </div>
                                    <div class="input_container">
                                        <p-dropdown
                                            [emptyFilterMessage]="getTranslateWord('No Results Found','Результаты не найдены','Ոչ մի արդյունք չի գտնվել')"
                                            [options]="allAddresses" [filter]="true"
                                            [style]="{'width':'100%','padding': '5px','border-color':'#cccccc','max-width':'487px','margin':'8px 0'}"
                                            formControlName="allAddress"
                                            [placeholder]="getTranslateWord('Click to select','Нажмите чтобы выбрать','Սեղմեք ընտրելու համար')"
                                            optionLabel="name">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="label_wrapper_right">
                                        <label>{{'_city' | language_translate:language}}</label>
                                    </div>
                                    <div class="input_container">
                                        <p-dropdown [options]="cities" [filter]="true"
                                            [emptyFilterMessage]="getTranslateWord('No Results Found','Результаты не найдены','Ոչ մի արդյունք չի գտնվել')"
                                            [style]="{'width':'100%','padding': '5px','border-color':'#cccccc','max-width':'487px','margin':'8px 0'}"
                                            formControlName="city"
                                            [placeholder]="getTranslateWord('Click to select','Нажмите чтобы выбрать','Սեղմեք ընտրելու համար')"
                                            [optionLabel]="getAttributeName('name')"></p-dropdown>
                                        <span required-field
                                            *ngIf="orderForm.get('city').hasError('required') && orderForm.get('city').touched">{{'error1' | language_translate:language}}
                                            *</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="label_wrapper_right">
                                        <label>{{'_address' | language_translate:language}}</label>
                                    </div>
                                    <div class="input_container">
                                        <input type="text" formControlName="address" />
                                        <span required-field
                                            *ngIf="orderForm.get('address').hasError('required') && orderForm.get('address').touched">{{'error1' | language_translate:language}}
                                            *</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="label_wrapper_right">
                                        <label>{{'_index' | language_translate:language}}</label>
                                    </div>
                                    <div class="input_container">
                                        <input type="text" OnlyNumber="true" formControlName="index" />
                                        <span required-field
                                            *ngIf="orderForm.get('index').hasError('required') && orderForm.get('index').touched">{{'error1' | language_translate:language}}
                                            *</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_group">
                            <div class="label_wrapper">
                                <label>{{'_comment' | language_translate:language}}</label>
                                <p class="req_message">{{'_not' | language_translate:language}}
                                    {{'_necessarily' | language_translate:language}}</p>
                            </div>
                            <div class="input_container textarea">
                                <textarea formControlName="comment"></textarea>
                            </div>
                        </div>
                        <div class="totalPrice" display-flex justify-content-space-beetwen>
                            <!-- <p><span font-weight-bold>ИТОГО:</span>{{fullPrice}}</p>
                            <p><span font-weight-bold>{{bonusPrice}}</span></p> -->
                        </div>
                        <div class="payment_method" display-flex>
                            <div class="left-container">
                                <p class="label">{{'_delivery_method' | language_translate:language}}</p>
                                <span required-field
                                    *ngIf="orderForm.get('shipping_method').hasError('required') && orderForm.get('shipping_method').touched">{{'error1' | language_translate:language}}
                                    *</span>
                                <div class="items">
                                    <div class="item" *ngFor="let item of visibleCarrierTypes;let ind=index;">
                                        <label style="margin-top: 10px;" class="container">
                                            <input type="radio" formControlName="shipping_method" [value]="item.id"
                                                name="shipping_method">
                                            <span class="checkmark"></span>
                                        </label>
                                        <div align-items-center display-flex class="img_wrapper">
                                            <img [src]="fileUrl+'carriers/'+item.logo" />
                                            <span class="label">{{item.name}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="center-container">
                                <p class="label">{{'payment_method' | language_translate:language}}</p>
                                <span required-field
                                    *ngIf="orderForm.get('shipping_method').hasError('required') && orderForm.get('shipping_method').touched">{{'error1' | language_translate:language}}
                                    *</span>
                                <div class="items">
                                    <div display-flex align-items-center class="item right_item"
                                        [ngClass]="setDisabledPaymentMethods(paymethod)"
                                        *ngFor="let paymethod of visiblePaymentMethods"
                                        (click)="onClickPayNow(paymethod)">
                                        <label class="container payment-container">
                                            <input type="radio" formControlName="payment_method" [value]="paymethod.id"
                                                name="payment_method">
                                            <span class="checkmark" top-0></span>
                                        </label>
                                        <div class="text_wrapper text_payment">
                                            <p class="header">{{paymethod?.header}}</p>
                                            <p class="under">
                                                {{paymethod?.under}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-container">
                                <p class="label" *ngIf="isAuthorized">{{'_inner_balance' | language_translate:language}}</p>
                                <span required-field
                                    *ngIf="orderForm.get('payment_method').hasError('required') && orderForm.get('payment_method').touched">{{'error1' | language_translate:language}}
                                    *</span>
                                <div class="items">
                                    <div display-flex align-items-center [ngClass]="{'disabled-balance':userBalance<=0}"
                                        class="item right_item balance_item " *ngIf="isAuthorized">
                                        <label class="container payment-container"
                                            [ngClass]="{'disabled':userBalance<=0}">
                                            <input type="checkbox" formControlName="isBalance" name="payment_method">
                                            <span class="checkmark checkbox" top-0></span>
                                        </label>
                                        <div class="text_wrapper text_bonus">
                                            <p class="header">{{'_from_balance' | language_translate:language}}</p>
                                            <p class="under">
                                                {{'_your_balance' | language_translate:language}} {{userBalance}}
                                            </p>
                                            <!-- <p class="under" error>
                                                {{checkUserBalance('balance','баланс')}}
                                            </p> -->
                                            <p class="under" error *ngIf="userBalance<=0">
                                                {{'_payment_error' | language_translate:language}}
                                            </p>
                                        </div>
                                    </div>
                                    <div display-flex align-items-center [ngClass]="{'disabled-bonuce':userBonuce<=0}"
                                        class="item right_item" *ngIf="isAuthorized">
                                        <label class="container payment-container"
                                            [ngClass]="{'disabled':userBonuce<=0}">
                                            <input type="checkbox" formControlName="isBonuce" name="payment_method">
                                            <span class="checkmark checkbox" top-0></span>
                                        </label>
                                        <div class="text_wrapper">
                                            <p class="header">{{'_with_bonus' | language_translate:language}}</p>
                                            <p class="under">
                                                {{'_your_bonus' | language_translate:language}} {{userBonuce}}
                                            </p>
                                            <p class="under" error *ngIf="userBonuce<=0">
                                                {{'_bonus_error' |language_translate:language}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="price_container">
                            <div class="sh_price">
                                <span class="key">{{'_order_sum' | language_translate:language}}</span>
                                <span class="value">{{totalPrice}}
                                    ֏</span>
                            </div>
                            <div class="sh_price">
                                <span class="key">{{'_delivery' | language_translate:language}}</span>
                                <span class="value">{{shippingPrice}} ֏ <span class="abs_cont"
                                        *ngIf="shippingPrice==0 && (orderForm.get('payment_method').value==4 || orderForm.get('payment_method').value==5)">(300
                                        ֏ {{'_insurance' | language_translate:language}})</span></span>
                            </div>
                            <div class="sh_price">
                                <span class="key">{{'_commission' | language_translate:language}}</span>
                                <span class="value">{{codPrice}} ֏</span></div>
                            <div class="sh_price">
                                <span class="key">{{'_total_text' | language_translate:language}}</span>
                                <div [ngClass]="{'paylater':isPromocode && payLaterPrice}">
                                    <span [ngClass]="{'discount_price':isPromocode && payLaterPrice}"
                                        class="value">{{payLaterPrice}} ֏
                                    </span>
                                    <span *ngIf="isPromocode && payLaterPrice"> - {{discountPayLaterPrice}} ֏</span>
                                </div>
                            </div>
                            <div class="sh_price">
                                <span class="key">{{'_total_pay_now' | language_translate:language}}</span>
                                <span class="value">{{payNowPrice}} ֏</span>
                            </div>
                        </div>
                        <div class="make_order">
                            <button (click)="onClickMakeOrder()" [disabled]="orderForm.invalid || loading"
                                [ngClass]="{'disabled':orderForm.invalid || loading}">
                                <span>{{'_order' | language_translate:language}}</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </app-box>
    </div>
    <div class="empty_basket"
        *ngIf="((basketProducts && basketProducts.length==0) || !basketProducts) && isPaymentChecked">
        <h1>Ваша корзина пуста</h1>
    </div>


</div>