<div class="recover-password-modal-content">
    <div class="rcm-container">
        <div *ngIf="!isSended">
            <p text-align-center font-bold uppercase>{{'_enter_your_email' | language_translate}}</p>
            <form class="recoverPassForm" [formGroup]="recoverPassForm" (ngSubmit)="onClickContinue()">
                <div class="form_group">
                    <label for='email'>{{'_email' | language_translate}}:</label>
                    <input type="text" formControlName="email" />
                    <span required-field
                        *ngIf="recoverPassForm.get('email').hasError('required') && recoverPassForm.get('email').touched">{{'error1'| language_translate}} *</span>
                    <span required-field
                        *ngIf="recoverPassForm.get('email').hasError('pattern') && recoverPassForm.get('email').touched">{{'error2'| language_translate}} *</span>
                </div>
            </form>
            <div class="buttons">
                <button class="continue" (click)="onClickContinue()" [disabled]="recoverPassForm.invalid"
                    [ngClass]="{'disabled':recoverPassForm.invalid}">
                    <span>{{'_continue' | language_translate}}</span>
                </button>
            </div>
        </div>
        <div *ngIf="isSended">
            <p class="message">{{'_success_text' | language_translate}} {{recoverPassForm.get('email').value}}</p>
            <div class="buttons">
                <button class="continue" (click)="onClickOk()">
                    <span uppercase>{{'_ok' | language_translate}}</span>
                </button>
            </div>
        </div>
    </div>
</div>