<div>
    <div class="slider">
        <div container>
            <app-slider [carouselItems]="banners" [carouselType]="'main'" [imageKey]="imageKey"></app-slider>
        </div>
    </div>
    <div container>
        <div>
            <div>
                <div class="items">
                    <div class="item">
                        <div class="icon">
                            <img src="/assets/images/carV.png" width="64px" height="64px">
                        </div>
                        <div class="label">
                            {{'_fast_delivery' | translate}}
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="/assets/images/humanV.png" width="64px" height="64px">
                        </div>
                        <div class="label">
                            {{'_individual_approach' | translate}}
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="/assets/images/moneyV.png" width="64px" height="64px">
                        </div>
                        <div class="label">
                            {{'_payment_method' | translate }}
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="/assets/images/prizeV.png" width="64px" height="64px">
                        </div>
                        <div class="label">
                            100% {{'_quality' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="popular_goods">
                <app-box [isP]="true"
                    header="{{'_popular_products' | translate}}">
                    <app-slider [carouselType]="'good'" [carouselItems]="popularProducts" [itemHeight]="'inherit'">
                    </app-slider>
                </app-box>
            </div>
            <!-- <div class="disc_block">
                <div class="cont">
                    <div class="labels_wrapper">
                        <p class="label">5 любых восков со скидкой</p>
                        <span class="under">Большой ассортимент восков на любой выбор</span>
                    </div>
                    <div class="img_items">
                        <div class="img_item" style="background-image:url(/assets/images/Layer6530.png)"></div>
                        <div class="img_item" style="background-image:url(/assets/images/Layer653.png)"></div>
                        <div class="img_item" style="background-image:url(/assets/images/Layer_653.png)"></div>
                        <div class="img_item" style="background-image:url(/assets/images/Layer_6531.png)"></div>
                        <div class="img_item" style="background-image:url(/assets/images/Layer_6532.png)"></div>
                    </div>
                </div>
            </div> -->
            <div class="special_goods">
                <app-box [isP]="true"
                    header="{{'special_offer' | translate}}">
                    <app-goods-list>
                        <app-slider [carouselType]="'good'" [carouselItems]="specialProducts" [itemHeight]="'inherit'">
                        </app-slider>
                    </app-goods-list>
                </app-box>
            </div>
            <div display-flex class="blocks">
                <div class="left">
                    <div class="cont" *ngIf="!isSubscribed">
                        <p class="label">{{'_subscribe_text' | translate}}</p>
                        <div class="form_group">
                            <input class="email_input" type="text" [formControl]="emailFormControl"
                                placeholder="{{'_enter_your_email' | translate}}" />
                            <button (click)="onClickSubscribe()" [disabled]="emailFormControl.invalid"
                                [ngClass]="{'disabled':emailFormControl.invalid}"><span>{{'_subscribe' | translate}}</span></button>
                        </div>
                        <span required-field
                            *ngIf="emailFormControl.hasError('required') && emailFormControl.touched">{{'error1' | translate}}
                            *</span>
                        <span required-field
                            *ngIf="emailFormControl.hasError('email') && emailFormControl.touched">{{'error2' | translate}}
                            *</span>
                    </div>
                    <div class="cont" *ngIf="isSubscribed">
                        <p class="label">{{'success' | translate}}</p>
                    </div>
                </div>
                <div class="right">
                    <div class="cont">
                        <div class="labels_wrapper">
                            <p class="label">{{'_join' | translate}}</p>
                            <span class="under">{{'_social_media' | translate}}</span>
                        </div>
                        <div class="social_items">
                            <div class="social_item" *ngFor="let item of socialNetworks"
                                (click)="onClickSocialItems(item)"
                                [ngStyle]="{'background-image':'url('+fileUrl+'socialnetworks/'+item.image+')'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new_goods">
                <app-box [isP]="true"
                    header="{{'_new_items_on_site' | translate}}">
                    <app-goods-list>
                        <app-slider [carouselType]="'good'" [carouselItems]="newProducts" [itemHeight]="'inherit'">
                        </app-slider>
                    </app-goods-list>
                </app-box>
            </div>
        
        </div>
    </div>
</div>