<div class="my-orders-content">
    <div *ngIf="isGet" class="my-orders-container">
        <p-table *ngIf="orderHistory && orderHistory[0]" [value]="orderHistory" dataKey="id">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em"></th>
                    <th class="t-head">{{'_order_number' | translate}} №</th>
                    <th class="t-head">{{'_date' | translate}}</th>
                    <th class="t-head">{{'_sum' | translate}}</th>
                    <th class="t-head">{{'payment_method' | translate}}</th>
                    <th class="t-head">{{'_delivery_method' | translate}}</th>
                    <th class="t-head">{{'_status' | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                <tr>
                    <td class="arrow">
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </td>
                    <td class="t-body">{{rowData?.id}}</td>
                    <td class="t-body">{{rowData?.created_at}}</td>
                    <td class="t-body">{{rowData?.total}}</td>
                    <td class="t-body">
                        {{(rowData?.isCash==1) ?translateWord('_in_cash'):translateWord('_online_on_site')}}
                    </td>
                    <td class="t-body">{{rowData?.carriersName}}</td>
                    <td class="t-body">{{rowData?.statusName}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <td class="container" [attr.colspan]="7">
                        <!-- font-size:16px;padding:20px -->
                        <div class="ui-g ui-fluid">
                            <app-my-orders-table full-width [productsData]="rowData?.products"></app-my-orders-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div *ngIf="!orderHistory || (orderHistory && !orderHistory[0])" class="default-text"> {{'_empty' | translate}}
        </div>
    </div>
</div>